*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: #fff;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,rgba(0,0,0,0.7)0%,rgba(0,0,0,0)100%);
    z-index: 100;
    transition: background-color 0.3;
}

.navbar{
    background-color: #141414;
}

.logo{
    height: 25px;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    gap: 20px;
}

.nav-link{
    color: #e5e5e5;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #b3b3b3;

}

.navbar-right {
    font-size: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    
}
.navbar-right i {
    margin-right: 12px;
}
.navbar-right i:hover{
    background-color: rgba(125, 122, 122, 0)
}
.profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}




.hero {
    height: 70vh;
    width:auto;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.4) 0%,
        rgba(0,0,0,0.8) 100%
    ),
    url(pic/HD-wallpaper-stranger-things-stranger-things-tv-shows.jpg) bottom center/cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    padding-right: 60px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.hero-content {
    max-width: 600px;
    padding-right: 30px;
    
}
.hero-title {
    font-size: 48px;
    margin-bottom: 16px;
}
.hero-description {
    font-size: 16px;
    margin-bottom: 24px;
    color: #e5e5e5;
}
.hero-button {
    display: flex;
    gap: 16px;
}
.btn {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
}
.btn-play {
    background-color: white;
    color: black;
}
.btn-play:hover {
    background-color: rgba(255,255,255,0.75);
}
.btn-more-info {
    background-color: rgb(121, 104, 104);
    color: black;
}
.btn-more-info:hover {
     background-color: rgba(109, 109, 110, 0.4);
}
